
.content-padre{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 60px;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-container {
    width: 200px;
    height: 270px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product-image img,.product-image {
    max-width: 150px;
    height: auto;
    margin: auto;
    cursor: pointer;
}

.product{
    margin-left: 10px;
}



.product h3 {
    margin-top: -10px;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}


.add-to-cart {
    padding: 8px 16px;
    width: 100%;
    background-color: #1403ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #2d1ff8;
}
